$break-header: 1400px;
$break-large: 1220px;
$break-medium: 1024px;
$break-tablet: 768px;
$break-small: 425px;
$break-mini: 375px;

$primary: #334155;
$primary-light: #63b2ed;
$secondary: #f56565;
$tertiary: #26c485;
$gray: rgba(148, 163, 184, 1);
$gray2: #f1f5f9;
